<div class="row d-flex justify-content-between" style="margin-top: 2.5rem">
  <div class="col-3">
    <button class="btn btn-login" [routerLink]="['new']">New Recipe</button>
  </div>
  <div class="col-8 d-flex justify-content-end">
    <button
      class="btn btn-login me-3"
      style="background: #009900"
      type="button"
      (click)="onStoreList()"
      *ngIf="!savingListFlag"
      [disabled]="displayAlert || deletingListFlag"
    >
      Save List
    </button>
    <button
      class="btn btn-login me-3"
      style="background: #009900"
      type="button"
      disabled
      *ngIf="savingListFlag"
    >
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      Saving...
    </button>

    <button
      class="btn btn-login"
      style="background: #ee0000"
      (click)="onDeleteList()"
      [disabled]="displayAlert || savingListFlag"
      *ngIf="!deletingListFlag"
    >
      Delete List
    </button>
    <button
      class="btn btn-login"
      style="background: #ee0000"
      type="button"
      disabled
      *ngIf="deletingListFlag"
    >
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      Deleting...
    </button>
  </div>
</div>

<!-- ToDo:: INDEX QUEBRA OS FILTROS / SORT -->
<div class="row mt-4">
  <div class="col-12">
    <input
      type="text"
      class="form-control input-txt"
      placeholder="Filter Recipe or Ingredient"
      aria-label="Recipe's name"
      aria-describedby="searchRecipe"
      [(ngModel)]="filterString"
    />
  </div>
</div>

<div
  class="row d-flex justify-content-center"
  [ngClass]="{ 'mt-3': displayAlert }"
>
  <div class="col-12">
    <ng-template appPlaceholder></ng-template>
  </div>
</div>

<div class="row mt-2 mb-4 d-flex">
  <span class="filter-btn">Sort by:</span>
  <button
    class="btn no-style-btn filter-btn me-3"
    type="button"
    (click)="sortField = 'name'"
    [ngClass]="{ 'active-filter': sortField === 'name' }"
  >
    A-Z
    <i
      class="bi bi-arrow-down"
      style="margin-inline-start: -4px"
      [ngStyle]="{ opacity: sortField === 'name' ? 1 : 0 }"
    ></i>
  </button>
  <button
    class="btn no-style-btn filter-btn me-3"
    type="button"
    (click)="sortField = 'dtCreated'"
    [ngClass]="{ 'active-filter': sortField === 'dtCreated' }"
  >
    New
    <i
      class="bi bi-arrow-down"
      style="margin-inline-start: -4px"
      [ngStyle]="{ opacity: sortField === 'dtCreated' ? 1 : 0 }"
    ></i>
  </button>
  <button
    class="btn no-style-btn filter-btn"
    type="button"
    (click)="sortField = 'rating'"
    [ngClass]="{ 'active-filter': sortField === 'rating' }"
  >
    Rating
    <i
      class="bi bi-arrow-down"
      style="margin-inline-start: -4px"
      [ngStyle]="{ opacity: sortField === 'rating' ? 1 : 0 }"
    ></i>
  </button>
</div>
<!-- END ToDo -->
<div class="row">
  <div class="col-12">
    <app-recipe-item
      *ngFor="let recipeEl of recipes | sort : sortField | filter : filterString ; index as i"
      [index]="i"
    ></app-recipe-item>
  </div>
</div>
