<div class="row d-flex justify-content-between" style="margin-top: 2.5rem">
  <div class="col-6">
    <button class="btn btn-login" [routerLink]="['new']">New Recipe</button>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <button
      class="btn btn-login"
      style="background: #ee0000"
      (click)="onDeleteList()"
    >
      Delete List
    </button>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12">
    <input
      type="text"
      class="form-control input-txt"
      placeholder="Filter Recipe or Ingredient"
      aria-label="Recipe's name"
      aria-describedby="searchRecipe"
      [(ngModel)]="filterString"
    />
  </div>
</div>

<div class="row mt-2 mb-4 d-flex">
  <span class="filter-btn">Sort by:</span>
  <button
    class="btn no-style-btn filter-btn me-3"
    type="button"
    (click)="sortField = 'name'"
    [ngClass]="{ 'active-filter': sortField === 'name' }"
  >
    A-Z
    <i
      class="bi bi-arrow-down"
      style="margin-inline-start: -4px"
      [ngStyle]="{ opacity: sortField === 'name' ? 1 : 0 }"
    ></i>
  </button>
  <button
    class="btn no-style-btn filter-btn me-3"
    type="button"
    (click)="sortField = 'dtCreated'"
    [ngClass]="{ 'active-filter': sortField === 'dtCreated' }"
  >
    New
    <i
      class="bi bi-arrow-down"
      style="margin-inline-start: -4px"
      [ngStyle]="{ opacity: sortField === 'dtCreated' ? 1 : 0 }"
    ></i>
  </button>
  <button
    class="btn no-style-btn filter-btn"
    type="button"
    (click)="sortField = 'rating'"
    [ngClass]="{ 'active-filter': sortField === 'rating' }"
  >
    Rating
    <i
      class="bi bi-arrow-down"
      style="margin-inline-start: -4px"
      [ngStyle]="{ opacity: sortField === 'rating' ? 1 : 0 }"
    ></i>
  </button>
</div>

<div class="row">
  <div class="col-12">
    <app-recipe-item
      *ngFor="let recipeEl of recipes | filter : filterString | sort : sortField ; index as i"
      [id]="recipeEl.id"
    ></app-recipe-item>
  </div>
</div>

<ng-template appPlaceholder></ng-template>