<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="/assets/images/recipe.png"
        alt="Logo"
        width="40"
        height="40"
      />
      Recipe Book
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/recipes" routerLinkActive="active" *ngIf="isAuthenticated">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-list" routerLinkActive="active" *ngIf="isAuthenticated">Shopping List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth" routerLinkActive="active" *ngIf="!isAuthenticated">Authenticate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" *ngIf="isAuthenticated" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
