<a
  style="cursor: pointer;"
  [routerLink]="[id]"
  routerLinkActive="border"
  class="list-item-container"
>
  <div style="margin-right: auto;">
    <h4 class="text-truncate">{{ recipe?.name }}</h4>
    <p class="text-truncate">{{ recipe?.description }}</p>
  </div>



  <div class="me-2">
    <span class="w-1" *ngIf="recipe?.rating == 5">5</span>
    <img *ngIf="recipe?.rating == 5"
      src="../../../../assets/images/icon-star.svg"
      alt="Logo"
      class="star-dropdown filter-yellow"
    />

    <span class="w-1" *ngIf="recipe?.rating == 4">4</span>
    <img *ngIf="recipe?.rating == 4"
      src="../../../../assets/images/icon-star.svg"
      alt="Logo"
      class="star-dropdown filter-yellow"
    />

    <span class="w-1" *ngIf="recipe?.rating == 3">3</span>
    <img *ngIf="recipe?.rating == 3"
      src="../../../../assets/images/icon-star.svg"
      alt="Logo"
      class="star-dropdown filter-yellow"
    />

    <span class="w-1" *ngIf="recipe?.rating == 2">2</span>
    <img *ngIf="recipe?.rating == 2"
      src="../../../../assets/images/icon-star.svg"
      alt="Logo"
      class="star-dropdown filter-yellow"
    />

    <span class="w-1" *ngIf="recipe?.rating == 1">1</span>
    <img *ngIf="recipe?.rating == 1"
      src="../../../../assets/images/icon-star.svg"
      alt="Logo"
      class="star-dropdown filter-yellow"
    />

    <img *ngIf="recipe?.rating === 0"
      src="../../../../assets/images/icon-star.svg"
      alt="Logo"
      class="star-dropdown filter-lgt-grey"
    />
  </div>





  <div class="recipe-img text-truncate">
    <img
      [src]="recipe?.imagePath"
      alt="{{ recipe?.name }}"
      class="img-responsive"
    />
  </div>
</a>
