input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
button.ng-invalid.ng-touched {
  border: 0.7px darkred solid;
}

li, li option {
  text-align: center;
  line-height: 1rem;
}

input, textarea {
  background: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  color: var(--input-txt-color);
  border-radius: 8px;
  font-size: 1rem;
}

label {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

.container-custom {
  padding: 5rem 2rem 0 2rem;
}

.form-group {
  margin-block-end: 1rem;
}

.x-btn {
  background: #EE0000; 
  width: 38px; 
  color: white;
}

#preview-image {
  width: 15rem; 
  height: 15rem; 
  padding-top: 1rem; 
  object-fit: cover;
}
/* 
#rating-dropdown .dropdown {
  width: max-content;
} */

#rating-dropdown .dropdown-menu {
  --bs-dropdown-min-width: 3.7rem;
}

#rating-dropdown .dropdown-toggle {
  min-width: 3.5rem;
  margin-block-start: 1.5rem;
  background: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
}

.star-btn-dropdown {
  width: 1.3rem;
  padding-inline-end: 0.2rem;
  padding-block-end: 0.3rem;
}

.star-dropdown {
  width: 1rem;
  padding-inline-start: 0.2rem;
  padding-block-end: 0.3rem;
}

.filter-lgt-grey {
  filter: invert(90%) sepia(0%) saturate(69%) hue-rotate(268deg) brightness(87%) contrast(80%);
}

.filter-yellow {
  filter: invert(70%) sepia(62%) saturate(1992%) hue-rotate(8deg) brightness(100%) contrast(101%);
}

.w-1 {
  display: inline-flex;
  width: 0.7rem;
  color: #E6B800;
  font-size: 1rem;
}

.signup-btn {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1rem;
  padding-inline-start: 0.25rem;
  text-decoration: underline;
}

.btn-login {
  color: white;
  border-radius: 8px;
  width: 20%;
  min-width: 6.25rem;
  height: 45px;
  font-size: 1rem;
}

.name-input {
  width: 85%;
}

.amount-btn {
  background: #E9E9E9;
  border: 1px solid var(--input-border-color);
  border-radius: 0 8px 8px 0 !important;
}

.dropdown {
  width: max-content;
}

.amount .dropdown-menu {
  --bs-dropdown-min-width: 3.5rem;
  background: #E9E9E9;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
}
/* 47.9375em */
@media (min-width: 768px) {
  .container-custom {
    padding-inline-end: clamp(2rem, 10vw, 10rem); 
  }

  .name-input {
    width: 80%;
  }
}

@media (min-width: 950px) {
  .name-input {
    width: 85%;
  }
}
@media (min-width: 1400px) {
  .name-input {
    width: 90%;
  }
}