<div class="centralizer">
  <div class="login-container">
    <div class="logo-container">
      <img
        src="assets/images/Logo-Recipe.svg"
        alt="Logo"
        style="width: 10.5rem"
      />
    </div>

    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="form-group d-flex justify-content-center pb-3">
        <input
          placeholder="E-mail"
          type="email"
          id="email"
          class="form-control input-txt"
          [ngModel]="email"
          name="email"
          required
          email
        />
      </div>
      <div class="form-group d-flex justify-content-center pb-3">
        <input
          placeholder="Password"
          type="password"
          id="password"
          class="form-control input-txt"
          ngModel
          name="password"
          required
          minlength="6"
        />
      </div>
      <div class="form-check">
        <div class="squaredFour" *ngIf="isLoginMode">
          <input type="checkbox" value="None" id="rememberme" [ngModel]="remember" name="rememberme" checked />
          <label for="rememberme"></label>
          <label class="form-check-label" for="rememberme"> Remember me </label>
        </div>
      </div>
      <!-- <div class="form-group" *ngIf="!isLoginMode">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          class="form-control"
          ngModel
          name="confirmPassword"
          required
          minlength="6"
          appConfirmEqualValidator="password"
        />
      </div> -->
      <div class="d-flex justify-content-center mt-4 mb-3">
        <button
          class="btn btn-login"
          type="submit"
          [disabled]="!authForm.valid"
          *ngIf="!isLoading"
        >
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
        <button
          class="btn btn-login"
          type="submit"
          disabled
          *ngIf="isLoading"
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
      </div>
      <ng-template appPlaceholder></ng-template>
      <div class="d-flex justify-content-center mb-3" style="height: 1.5rem;">
        <!-- (click)="resetPassword()" -->
        <button class="no-style-btn forgot-pw-btn" type="button" *ngIf="isLoginMode" disabled style="opacity: 0.6; cursor: auto;">
          Forgot password?
        </button>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <span class="nam-txt">{{ isLoginMode ? 'Not a member?' : 'Already a member?'}}</span>
        <button class="no-style-btn signup-btn" type="button" (click)="onSwitchMode()">
          {{ isLoginMode ? 'Sign up' : 'Sign in'}}
        </button>
      </div>
    </form>
  </div>
</div>